:root {
    --color0: #ffff60;
    --color1: #ffffa5;
    --color2: #ffffbb;
    --color3: #ffffd2;
    --color4: #ffffe8;
    --color5: #ffffff;
  }
  
  nav.navBar {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ajuste a ordem de empilhamento conforme necessário */
    background-color: var(--color0);
    overflow: hidden;
    display: flex;
    justify-content: space-between;
  }

  nav.navBar > i.icon {
    color: black;
    display: flex;
    justify-content:flex-start;
    width: 50px;
    height: 50px;
    background-image: url('/piu.svg');
    background-size: cover; /* ou contain, dependendo do comportamento desejado */
    margin-left: 30px;
    margin-top: 4px;
  }
 nav.navBar > div > img {
    height: 50px;
    width: 50px;
    margin: 0px;
    border: 0px;
    padding: 0px;
    color: black;
    display: flex;
  }
  nav.navBar > ul {
    display: flex;
    justify-content:flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  nav.navBar > ul > li {
    color: gray;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
  }
  
  nav.navBar > ul > li:hover {
    background-color: var(--color1);
    color: gray;
  }
  nav.navBar > ul > li:hover > a {
    color: black;
  }




  nav.navBar > ul > li > a{
    color: gray;
  }
  
  nav.navBar > ul > li.active > a {
    background-color: var(--color1);
    color: black;
  }


  nav.navBar > ul > li > a:hover {
    color: black;
    background-color:var(--color3);;
  }
