

.component{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color4);
}

.content, .inversecontent {
    max-width: 1280px;
}

div .txt {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    max-width: 500px;
    color: black;
    text-align: justify;
    margin-left: 5%;
}

div .img{
    display: flex;
    justify-content: center;
    align-items: center;
}
div .img img{
    min-height: 200px;
    max-height: 400px;
    max-width: 300px;
}

.content{
    display: flex;
    align-items: center;
}

.txt{
    flex: 1 1 0%;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
}


div.txt > p.title {
    font-weight: bold;
    font-size: 18px;
}

div.txt > p.text {
    color:black;
    font-size: 15px;
}

/* Estilos para telas pequenas (inferiores a 768px) */
@media only screen and (max-width: 600px) {
        
    div.content > div.img{ 
        clip-path: circle(50% at 50% 50%);
    }

    div.inversecontent > div.img{ 
        clip-path: circle(50% at 50% 50%);
    }
}