

.item {
    color: black;
    margin: 0;
    min-width: 300px;
    background-color: var(--color4);
}

  
/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}

.react-multi-carousel-list:hover > button {
    background-color: var(--color1);
}

.react-multi-carousel-list:hover > button::before {
    color: black;
}

.react-multi-carousel-list:hover > button:focus-visible {
    background-color: var(--color1);
}
.react-multi-carousel-list:hover > button:focus {
    background-color: var(--color1);
}

div.react-multi-carousel-list > button.react-multiple-carousel__arrow:focus  {
    background-color: var(--color1);
    color: black;
}

div.react-multi-carousel-list > button.react-multiple-carousel__arrow:focus::before  {
    color: black;
}

div.carouselCustom > div > ul > li > a > div {
    margin:0px;
}