.group-title{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color4);    
    color:black;
}

.title{
    display: block;
    font-size: 2rem;
}
.subtitle{
    display: block;
    font-size: 1rem;
}


/* Estilo para um link normal */
.subtitle a {
    color: var(--color6); /* Cor padrão para links (por exemplo, azul) */
}

/* Estilo para um link quando estiver sendo hover (quando o mouse passa sobre ele) */
.subtitle a:hover {
    color: var(--color7); /* Cor padrão para links (por exemplo, azul) */
}

/* Estilo para um link visitado */
.subtitle a:visited {
    color: var(--color7); /* Cor padrão para links (por exemplo, azul) */
}
