:root {
    --color0: #ffff60;
    --color1: #ffffa5;
    --color2: #ffffbb;
    --color3: #ffffd2;
    --color4: #ffffe8;
    --color5: #ffffff;
  }
  
  footer.footerBar > div {
    background-color: #242424;
    justify-content: center;
    color:gray;
    display:flex;
  }
  
  footer.footerBar > div > div.footerBar-column {
    width: 200px;
    justify-content: center;
    color:white;
    text-align: left;      /* garante alinhamento do texto */
  }

  footer.footerBar > div > i.icon {
    display:block;
    padding: 30px;
    width: 50px;
    min-width:50px;
    height: 50px;
    margin-left: 30px;
    margin-right: 15px;
    margin-top: 20px;
    background-image: url('/piu.svg');
    background-size: cover; /* ou contain, dependendo do comportamento desejado */
    filter: invert(80%); /* Inverte as cores (preto para branco, branco para preto) */
  }
  div.logos img{
    margin: 7px;
  }